
.main-content {
    margin-left: var(--sidebar-width);
    background-color: #f8f9fa;
    min-height: 100vh;
    transition: all 0.3s ease;
    overflow: hidden;
     transition: margin-left 0.28s cubic-bezier(.2,.8,.2,1);
}

.collapsed~.main-content {
    margin-left: var(--sidebar-width-collapsed);
}

.toggle-btn {
    position: absolute;
    right: -5px;
    top: 20px;
    background: white;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.dropdown-toggle::after {
  display: none !important;
}
